__pycache__/

data/checkins-*.txt
data/pretrained-model
KGE/Graphs
results

# New Additions
KGE/POI_graph/
KGE/__MACOSX/
KGE/checkpoints/
KGE/data/
KGE/dataloader.py
KGE/dataset.py
KGE/dataset/
KGE/evaluation.py
KGE/network.py
KGE/setting.py
KGE/trainer.py
KGE/utils.py

KGE_repo/
main.py
zi41vLvl

adhoc/
checkins_build.log
download.log

data/brightkite_friend.txt
data/brightkite_raw/
data/yelp_friend.txt
data/yelp_raw/

dataset/
docs/

weights/
.python-version
.venv/
.idea/
.vscode/

KGE/Graphs.zip
required_data.zip